:root {
  --gutter: 20px;
}

@font-face {
  font-family: 'Campton';
  src: url('~@/assets/fonts/campton-light.woff') format('woff');
}

@font-face {
  font-family: 'Butler';
  src: url('~@/assets/fonts/butler_regular.woff') format('woff');
}

@import '~@/styles/global/reset';
@import '~@/styles/global/colors';
@import '~@/styles/global/breakpoints';
@import '~@/styles/global/typography';

html,
body {
  height: 100%;
}
